*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-margin-top: 120px;
    
  }
  :root{
      --primary: #2e2e2e;
      --secondary: #252525;
      --elem-color: #1b1b1b;
      --text: #b8b8b8;
      --accent-color: #ffa600;
      --shadow-color: rgba(0, 0, 0, 0.719);
      --scrollbar-color: #444;
      --scrollbar-color-hover: #333;
      --scrollbar-track-color: #222;
      
  }
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color); 
    border-radius: 4px;
    transition: 200ms all linear;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-color-hover); 
    transition: 200ms all linear;
  }
  body{
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: var(--text);
  }
  .cards{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    .card{
      width: 50px;
      border-radius: 50px;
      overflow: hidden;
      height: 400px;
      transition: 300ms ease-in-out;
      filter: grayscale(100%);
      position: relative;
      h1{
          color: white;
          position: absolute;
          bottom: 20px;
          left: 50px;
          opacity: 0;
      }
      .material-icons{
          position: absolute;
          color: white;
          font-size: 30px;
          bottom: 15px;
          left: 50%;
          transform: translateX(-50%);
          transition: 600ms ease-in-out;
      }
      &:hover{
        cursor: pointer;
      filter: grayscale(60%);
        transition: 300ms ease-in-out;
        
        
      }
      &.active{
        width: 600px;
        transition: 300ms ease-in-out;
        filter: grayscale(0%);
        h1{
            opacity: 1;
            transition: 600ms ease-in-out;
        }
        .material-icons{
            opacity: 0;
            transition: 200ms ease-in-out;
        }
      }
    }
  }